.about {
    background-color: #f9f9f9;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about .inner .title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.about .inner .subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #909090;
    text-align: center;
}

.about .inner .button-row {
    margin-top: 50px;
    text-align: center;
}