.footer {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.footer .fa,
.footer .network span {
    vertical-align: middle;

}

.footer .network .fa-stack i.fa-circle {
    color: #fcfcfc;
    font-size: 40px;
}

.footer .network .fa-stack i.social {
    color: #6d6d6d;
    font-size: 20px;
    line-height: 42px;
}

.footer .network {
    display: inline-block;
    line-height: 48px;
}

.footer .contact,
.footer .navigation {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer .contact {
    color: #fcfcfc;
    background-color: #6d6d6d;
    font-size: 18px;
    font-weight: 400;
}

.footer .navigation {
    background-color: #464646;
}

.footer .nav-links {
    margin-bottom: 0;
    text-align: center;
}

.footer .nav-links li {
    display: inline-block;
    color: #a3a3a3;
    font-size: 14px;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer .nav-links li a,
.footer .nav-links li a:visited,
.footer .nav-links li a:active,
.footer .nav-links li a:link {
    color: #a3a3a3;
    text-decoration: none;
}

.footer .nav-links li a:hover {
    color: #ededed;
}