header.header {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ed6448;
}

header.header .inner {
    margin: 0 auto;
}

/* navbar */

header.header .navbar {
    padding: 15px 0;
    background-color: transparent;
    border: none;
}

header.header .navbar #menu-main {
    margin-top: 20px;
}

header.header .navbar #menu-main li a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}


header.header .navbar #menu-main li a,
header.header .navbar #menu-main li span {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

header.header .navbar #menu-main li.active a {
    color: #a8543a
}

header.header .navbar #menu-main li.open a {
    color: black;
}

header.header .navbar-header .navbar-brand {
    height: auto;
}

header.header .navbar-header .navbar-brand img {
    height: 60px;
    width: auto;
    margin-left: 10px;
}

header.header .inner .navbar #menu-main li:hover {
    background-color: rgba(184, 92, 71, 1);
}

header.header #menu-main .dropdown-menu li a {
    color: black;
}

/* Breadcrumb */

.breadcrumb-row {
    background-color: rgba(244, 244, 244, 1);
    margin-bottom: 30px;
}

.breadcrumb-row .breadcrumb {
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 0;
}