.slider {
    padding-top: 80px;
    padding-bottom: 220px;
    color: white;
    background-color: #ed6448;
    text-align: center;
}

.slider .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.slider .title .inner {
    margin: 0 auto;
    border-left: 4px solid white;
    border-right: 4px solid white;
    min-width: 520px;
    max-width: 600px;
}

.slider .subtitle {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300;
}

.slider .subtitle .inner {
    margin: 0 auto;
    min-width: 520px;
    max-width: 700px;
}